{# contrôleur racine (niveau 1) pour TwigController #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% title %}</title>
    </head>
    <body>
        <div id="vue">
            <h1>{% title %}</h1>
            {# ici le bloc vue #}
        </div>
    </body>
</html>
    