<!DOCTYPE html>
<html>
<head>
    <title{% block titre %}Sandbox{% endblock %}</title>
</head>
<body>
    <div id='flash'>
        {% include 'Layouts/flash.html.twig' %}
    </div>

    {% block body %} {% endblock %}

    <div id='footer'>
        {% include 'Layouts/footer.html.twig' %}
    </div>

</body>
</html>
